<header class="clearfix">
	<div class="titleDiv">
		<h1>UNTEL OFFICIEL</h1>
		<span class="orderNumber">facture n° {{{orderId}}}</span>
	</div>
	<div id="company" class="clearfix">
		<div>Untel Officiel</div>
		<div>455 Foggy Heights,<br /> AZ 85004, US</div>
		<div>(602) 519-0450</div>
		<div><a href="mailto:company@example.com">company@example.com</a></div>
	</div>
	<div id="project">
		<div><span>CLIENT</span>{{{clientName}}}</div>
		<div><span>ADDRESS</span>{{{address}}}<br/>{{{city}}}</div>
		<div><span>EMAIL</span> <a href="mailto:{{{clientEmail}}}">{{{clientEmail}}}</a></div>
		<div><span>DATE</span>{{{orderDate}}}</div>
	</div>
</header>
<main>
	<table>
		<thead>
			<tr>
				<th class="service">PRODUIT</th>
				<th class="desc">DESCRIPTION</th>
				<th>PRIX HT</th>
				<th>QTE</th>
				<th>TOTAL HT</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="service">{{{nameItem}}}</td>
				<td class="desc">CD audio de l'album {{{nameItem}}} de l'artiste Untel</td>
				<td class="unit">{{{price}}} €</td>
				<td class="qty">1</td>
				<td class="total">{{{price}}} €</td>
			</tr>
			<tr>
				<td colspan="4">SOUS-TOTAL</td>
				<td class="total">{{{subTotal}}} €</td>
			</tr>
			<tr>
				<td colspan="4">TAX 20%</td>
				<td class="total">{{{tva}}} €</td>
			</tr>
			<tr>
				<td colspan="4" class="grand total">TOTAL TTC</td>
				<td class="grand total">{{{total}}} €</td>
			</tr>
		</tbody>
	</table>
	<div id="notices">
		<div>NOTIFICATION:</div>
		<div class="notice">Vous recevrez un mail de confirmation pour l'envoi de votre colis sous 2 jours</div>
	</div>
</main>